#{extends 'main.html' /}
#{set title:'Create Request' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/datepicker.css'}">
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/create-offer.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <h3 style="padding-top:0px;">Create New Request</h3>
    <p>Use the form below to create a new request.</p>
    <form action="@{Requests.doCreate()}" method="POST" class="utility_form">

      <fieldset>
        <legend>Descriptions</legend>
        
        <ul>
	  <input type="hidden" name="requestItem.userEmail" value="${user.email}" />
          <li>
	    #{error 'requestItem.title' /}
            <label>Title</label>
            <input type="text" name="requestItem.title" value="${flash['requestItem.title']}" />
          </li>
          <li>
	    #{error 'requestItem.tags' /}
            <label>Tags</label>
            <input type="text" name="requestItem.tags" value="${flash['requestItem.tags']}" />
          </li>
          <li>
	    #{error 'requestItem.description' /}
            <label>Description</label>
            <textarea name="requestItem.description">${flash['requestItem.description']}</textarea>
          </li>
        </ul>
      </fieldset>
      
      <fieldset>
        <legend>Limitations</legend>
        <ul>
          <li>
	    #{error 'requestItem.endDate' /}
            <label>Valid Until</label>
            <input type="text" name="requestItem.endDate" class="date_pick" value="${flash['requestItem.endDate']}" />
          </li>
        </ul>
        
      </fieldset>
      
      <fieldset>
        <legend>Photos</legend>
        <ul>
          <li>
            <label>Photo</label>
            <input type="file" name="photo" />
          </li>
          <li>
            <label>Added Photos</label>
            <div class="photos">
              <img src="@{'public/images/icons/user.png'}" />
              <img src="@{'public/images/icons/user.png'}" />
            </div>
          </li>
        </ul>
      </fieldset>
      
      <input type="submit" value="Proceed" />

    </form>
    
  </div>

</div>
