#{extends 'logged_user.html' /}
#{set title:'Search Requests' /}
<h3>Requests</h3>
#{if allRequests}
<form action="@{Requests.search()}" style="width:655px; padding:15px 5px 15px 20px;">
  <label for="phrase" style="float:left; width:100px; margin-top:10px">Search</label>
  <input type="text" name="phrase" id="phrase" value="${phrase}" style="width:500px" />
</form>
#{/if}

#{if phrase}
#{if foundRequests}
<table style="width:92%">
  <tr>
    <th>Title</th>
    <th>Requester</th>
    <th>Valid Until</th>
    <th>Details</th>
  </tr>
  #{list items:foundRequests, as:'request'}
  <tr>
    <td>${request.title}</td>
    <td>${request.user.fullname}</td>
    <td>${request.endDate.format()}</td>
    <td><a href="@{Requests.showDetails(request.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
No requests are able the match the keyword.
#{/else}
#{/if}
#{else}
#{if allRequests}
<table style="width:92%">
  <tr>
    <th>Title</th>
    <th>Requester</th>
    <th>Valid Until</th>
    <th>Details</th>
  </tr>
  #{list items:allRequests, as:'request'}
  <tr>
    <td>${request.title}</td>
    <td>${request.user.fullname}</td>
    <td>${request.endDate.format('dd MMMM yyyy')}</td>
    <td><a href="@{Requests.showDetails(request.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
There are no available requests.
#{/else}
#{/else}
