#{extends 'logged_user.html' /}
#{set title:'Search Requests' /}

#{if requests}
<label>Search</label>
<input type="text" />
<table>
  <tr>
    <th>Title</th>
    <th>Requester</th>
    <th>Valid Until</th>
    <th>Details</th>
  </tr>
  #{list items:requests, as:'request'}
  <tr>
    <td>${request.title}</td>
    <td>${request.userEmail}</td>
    <td>${request.endDate}</td>
    <td><a href="@{Requests.showDetails(user, request.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
There are no requests available.
#{/else}
