#{extends 'logged_user.html' /}
#{set title:'Search Requests' /}

#{if allRequests}
<form action="@{Requests.search()}">
  <label for="phrase">Search</label>
  <input type="text" name="phrase" id="phrase" value="${phrase}" />
</form>
#{/if}

#{if phrase}
#{if foundRequests}
<table>
  <tr>
    <th>Title</th>
    <th>Requester</th>
    <th>Valid Until</th>
    <th>Honey Combs</th>
    <th></th>
  </tr>
  #{list items:foundRequests, as:'request'}
  <tr>
    <td>${request.title}</td>
    <td>${request.user.fullname}</td>
    <td>${request.endDate.format('dd MMMM yyyy')}</td>
    <td><a href="@{Requests.showDetails(request.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
No requests are able the match the keyword.
#{/else}
#{/if}
#{else}
#{if allRequests}
<table>
  <tr>
    <th>Title</th>
    <th>Requester</th>
    <th>Valid Until</th>
    <th></th>
  </tr>
  #{list items:allRequests, as:'request'}
  <tr>
    <td>${request.title}</td>
    <td>${request.user.fullname}</td>
    <td>${request.endDate.format('dd MMMM yyyy')}</td>
    <td><a href="@{Requests.showDetails(request.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
There are no available requests.
#{/else}
#{/else}
