#{extends 'main.html' /}
#{if isOldRequest}
#{set title:'Request Edited' /}
#{/if}
#{else}
#{set title:'Request Created' /}
#{/else}
<div id="content">
  <div id="main" style="padding-top:0px">
    <div class="post" style="padding:top:0px">
      <h3 style="padding-top:0px;">
	#{if isOldRequest}
	Your request was successfully edited
	#{/if}
	#{else}
	Your request was successfully created
	#{/else}
      </h3>
      <form>
	<ul class="long_login">
	  <li>
	    <label>Request Title</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.title}" />
	  </li>
	  <li>
	    <label>Request Tags</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.tags.join(' ')}" />
	  </li>
	  <li>
	    <label>Request Description</label>
	    <textarea class="roinput" readonly="readonly" >${requestItem.description}</textarea>
	  </li>
	  <li>
	    <label>Valid Until</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.endDate.format('dd MMMM yyyy')}" />
	  </li>
	  #{if requestItem.county}
	  <li>
	    <label>District</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.county}" />
	  </li>
	  #{/if}
	  #{if requestItem.district}
	  <li>
	    <label>Neighborhood</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.district}" />
	  </li>
	  #{/if}
	  <input type="button" value="Main Page" onclick="window.location='@{Application.index()}'" />
      </form>
      
    </div>
  </div>
</div>
