#{extends 'logged_user.html' /}
#{set title:'Request Detail' /}

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <div class="right">
      <h3>${requestItem.title}</h3>
      <div class="restrictions">
	<h4>Details for Request</h4>
        <ul>
	  <li>
	    <label>Title</label>
	    ${requestItem.title}
	  </li>
	  <li>
	    <label>Description</label>
	    ${requestItem.description}
	  </li>
          <li>
            <label>Valid Until</label>
	    ${requestItem.endDate.format('dd MMMM yyyy')}
          </li>
        </ul>
      </div>
    </div>
    
    <div class="left">
      <a href="@{Users.profile(requestOwner.id)}">
	#{if requestOwner.photo.exists()}
	<img src="@{Application.showUserPhoto(requestOwner.id)}" alt="${requestOwner.fullname}" class="avatar" />
	#{/if}
	#{else}
	<img src="/public/images/lbi02.png" class="avatar" />
	#{/else}
      </a>
      <div class="post-meta">
        <ul>
          <li><h4>User</h4>${requestItem.user.fullname}</li>
        </ul>
      </div>
    </div>
    
    <div class="post-meta">
      <h4>tags</h4>
      <p>
	${requestItem.tags.join(' ')}
      </p>
    </div>
    
  </div>
  #{if someoneElsesRequest}
  <form action="@{Handshakes.bindToRequest()}">
    <label>Honey Combs:</label>
    <select name="requestItem.credit">
      <option>1</option>
      <option>7</option>
      <option>19</option>
    </select>

    <input type="submit" name="submit" value="Apply" />
  </form>
  #{if hasApplied}
  <a class="cancel" href="@{Handshakes.cancelApplication(handshakeId)}">Cancel</a>
  #{/if}
  #{/if}
</div>
