#{extends 'logged_user.html' /}
#{set title:'Detail' /}

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <div class="right">
      <div class="restrictions">
	<h4>Details for Request</h4>
        <ul>
	  <li>
	    <label>Title</label>
	    ${requestItem.title}
	  </li>
	  <li>
	    <label>Description</label>
	    ${requestItem.description}
	  </li>
          <li>
            <label>Valid Until</label>
	    ${requestItem.endDate}
          </li>
        </ul>
      </div>
    </div>
    
    <div class="left">
      <div class="post-meta">
        <ul>
          <li><h4>User</h4>${requestItem.user.fullname}</li>
        </ul>
      </div>
    </div>
    
    <div class="post-meta">
      <h4>tags</h4>
      <p>
	${requestItem.tags.join(', ')}
      </p>
    </div>
    
  </div>
</div>
