#{extends 'main.html' /}
#{if isOldRequest}
#{set title:'Request Edited' /}
#{/if}
#{else}
#{set title:'Request Created' /}
#{/else}
<div id="content">
  <div id="main" style="padding-top:0px">
    <div class="post" style="padding:top:0px">
      <h3 style="padding-top:0px;">
	#{if isOldRequest}
	Your request was successfully edited
	#{/if}
	#{else}
	Your request was successfully created
	#{/else}
      </h3>
      <form>
	<ul class="long_login">
	  <li>
	    <label>Request Title</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.title}" />
	  </li>
	  <li>
	    <label>Request Tags</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.tags.join(' ')}" />
	  </li>
	  <li>
	    <label style="vertical-align: top; padding-top: 7px;">Description</label>
	    <textarea rows="4" class="roinput" readonly="readonly">${requestItem.description}</textarea>
	  </li>	  
	  <li>
	    <label>Social Credits to Recieve</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.getCredits().forOfferer()}" />
	  </li>
	  <li>
	    <label>Duration</label>
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.duration}" />
	  </li>
	  <li>
	    <label>Is Virtual?</label>
	    <input id="txtVirtual" class="roinput" type="text" readonly="readonly" />
	    <input type="checkbox" style="visibility: hidden; display: none" id="chkVir" ${requestItem.isVirtual ? 'checked':''} />
	  </li>
	   <li>
	    <label style="vertical-align: top; padding-top: 5px;">Valid Until</label>
	    #{if requestItem.endsAt}
	    <input class="roinput" type="text" readonly="readonly" value="${requestItem.endsAt.format('dd MMMM yyyy')}" />
	   #{/if}
        #{else}
        <input class="roinput" type="text" value="" />
       #{/else}
	  </li>   	  
	  <script>
	  	if(document.getElementById("chkVir").checked == 0)
	  	{	  		
	  		document.getElementById("txtVirtual").value = "No";	  		
	  	}
	  	else 
 		{
		 	document.getElementById("txtVirtual").value = "Yes";
	  	}
	  	
	  	function disableClick(input){
  		 input.checked == true ? input.checked = false : input.checked = true;
  		}
      </script>  	  
	  	  
	  <input style="visibility:hidden; display:none" type="button" value="Main Page" onclick="window.location='@{Application.index()}'" />
      </form>
      
    </div>
  </div>
</div>
