#{extends 'main.html' /}
#{set title:'Information' /}

<div id="main">
  <h3>Your User Information</h3>
  <form action="@{Users.finalizeUser()}" method="POST">
    <ul class="long_login">
      <li>
	<label>Full Name</label>
	<input class="roinput" type="text" readonly="readonly" value="${user.fullname}" />
      </li>
      <li>
	<label>Email</label>
	<input class="roinput" type="text" readonly="readonly" value="${user.email}" />
      </li>
      <li>
	<label>Address</label>
	<input class="roinput" type="text" readonly="readonly" value="${user.address}" />
      </li>
      <li>
	<label>Initial Honey Combs</label>
	<input class="roinput" type="text" readonly="readonly" value="${user.balance}" />
      </li>
      <li>
	<label>Reputation</label>
	<input class="roinput" type="text" readonly="readonly" value="${user.reputation}" />
      </li>
      <input class="login_button" type="submit" name="create" method="POST" value="Confirm" />
      <input class="login_button" type="button" value="Edit" onclick="window.history.back()" />
    </ul>
  </form>
</div>
