#{extends 'logged_user.html' /}
#{set title:'Profile' /}

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <div class="right">
      <h3>${observedUser.fullname}</h3>
      #{if observedUser.photo.exists()}
      <img class="avatar" src="@{Application.showUserPhoto(observedUser.id)}" alt="$observedUser.fullname" />
      #{/if}
      #{else}
      <img class="avatar" src="/public/images/lbi02.png" alt="Default User Photo" />
      #{/else}
      
      
      <p></p>
      
      
      
      <div class="user_tabs">
        <ul>
          <li>
            <a href="#" class="active" no="1">Handshakes</a>
          </li>
	  <li>
	    <a href="#" no="2">Offers</a>
	  </li>
	  <li>
	    <a href="#" no="3">Requests</a>
	  </li>
        </ul>
      </div>

      #{if handshakes}
      <div class="index_tab_content" id="index_tab_content_1" style="display:block">
      <table class="show_data" style="margin-left:0px; width:560px;">
        <tr class="first">
          <th>Title</th>
          <th>Honey Combs Made</th>
          <th>Offerer</th>
          <th>Requester</th>
          <th>Details</th>
        </tr>

	#{list items:handshakes, as:'handshake'}
	<tr>
	  <td>${handshake.offer.title}</td>
	  <td>${handshake.offer.credit}</td>
	  <td>${handshake.offer.user.fullname}</td>
	  <td>${handshake.request.user.fullname}</td>
	  <td><a href="@{Handshakes.show(handshake.id)}">Details</a></td>
	</tr>
	#{/list}

      </table>
      </div>
      #{/if}

      #{if offers}
      <div class="index_tab_content" id="index_tab_content_2" style="display:none">
      	<table class="show_data" style="margin-left:0px; width:560px;">
      	  <tr class="first">
            <th>Title</th>
            <th>Details</th>
          </tr>

      	  #{list items:offers, as:'offer'}
      	  <tr>
      	    <td>${offer.title}</td>
      	    <td><a href="@{Offers.showDetails(offer.id)}">Details</a></td>
      	  </tr>
      	  #{/list}
     	</table>
	
      </div>
      #{/if}

      #{if requests}
      <div class="index_tab_content" id="index_tab_content_3" style="display:none">
      	<table class="show_data" style="margin-left:0px; width:560px;">
      	  <tr class="first">
            <th>Title</th>
            <th>Details</th>
          </tr>

      	  #{list items:requests, as:'request'}
      	  <tr>
      	    <td>${request.title}</td>
      	    <td><a href="@{Requests.showDetails(request.id)}">Details</a></td>
      	  </tr>
      	  #{/list}
     	</table>
      </div>
      #{/if}

      <!-- <div class="pager" style="margin-right:0px;"> -->
      <!--   <a href="#">Start</a> -->
      <!--   ... -->
      <!--   <a href="#">6</a> -->
      <!--   <a href="#">7</a> -->
      <!--   <a href="#" class="current_page">8</a> -->
      <!--   <a href="#">9</a> -->
      <!--   <a href="#">10</a> -->
      <!--   ... -->
      <!--   <a href="#">End</a> -->
      <!-- </div> -->
      
      
    </div>
    <div class="left">

      <div class="post-meta">
        <ul>
          <li>Name: ${observedUser.fullname}</li>
	  <li>Honey Combs: ${observedUser.balance}</li>
	  <li>Reputation: ${observedUser.reputation}</li>
	  <li>City: ${observedUser.address}</li>
          <li>Member Since: ${observedUser.registrationDate.format('dd MMMM yyyy')}</li>
        </ul>
      </div>
      <div class="post-meta" style="text-align: left;">
        <h4>${observedUser.fullname}<br/>in Clouds</h4>
          <div class="tag_cloud" style="text-transform:none !important; text-align:center">  
          <ul>
          <br/>                 
	        #{list items:tagUserCloud, as:'tagItem'}
	        <li class = "${tagItem.CssClass}">  
	           <a href="${tagItem.hyperlink}" style="color:#147DB6">${tagItem.name}</a>          
	        </li>
	        #{/list}
          </ul>          
            <!-- <ul>
	      #{list items:models.Tag.find('select name from Tag group by name order by count(*) desc').fetch(6), as:'poptag'}
	      ${poptag}
	      #{/list}
            </ul>-->
          </div>
        
        
      </div>
    </div>
  </div>
</div>
