#{extends 'main.html' /}
#{set title:"About" /}
<div id="content">
  <div id="main" style="padding-top: 0px">
    <div class="post" style="padding:top:0px">
      <h3 style="padding-top:0px;">About LETS</h3>
      <p>LET System are popular across UK, United States, Canada and Australia. In 1980s LETS were developed in British Columbia, Canada aiming to bring supply and demand when the conventional money was unavailable due to an economic recession.</p>
      <p>LETS aims to create an alternative economy outside and parallel to the wider money economy by encouraging people to exchange goods and services within the local community.</p>
      <p>With the increasing usage of social networking can promote participation in alternative economic systems. LETS is an alternative to traditional consumption that enables face-to-face commerce by creating community bonds.</p>
      <p>LET is a community-based non-profit organization. The idea behind the LETS is that a person should be free to issue money. Each member of the LETS has an account that denominated in &quot;credits&quot;. When anyone want to use a credit in exchange, two member handshakes and system is notified that to debit the account of the payer and credit the account of the payee.</p>
      <p>Each accounts starts with zero balance, members can maintain both positive and negative balance.</p>
      <p>&quot;Negative Balance&quot; means that the member has gone into &quot;commitment&quot; to the system which is promise that he/she will provide an equivalent value in goods and services in the futures.</p>
      <p>LET systems uses a virtual currency (There is no physical currency) to record the exchanges that takes place. Unlike national currency, credits do not have to eared before they are spent and no interest is payable on either negative balances or savings.</p>
    </div>
  </div>
</div>
