#{extends 'main.html' /}
#{set title:"FAQ" /}

<div id="content">
  <div id="main" style="padding-top:0px">
    <div class="post" style="padding:top:0px">
      <h3 style="padding-top:0px;">Frequently Asked Questions</h3>
      <h4>1. What is LETS?</h4>
      <p>LET is a community-based non-profit organization. The idea behind the LETS is that a person should be free to issue money. Each member of the LETS has an account that denominated in &quot;credits&quot;. When anyone want to use a credit in exchange, two member handshakes and system is notified that to debit the account of the payer and credit the account of the
      payee.</p>
      <h4>2. I want to learn more about LETS History</h4>
      <p>LET System are popular across UK, United States, Canada and Australia. In 1980s LETS were developed in British Columbia, Canada aiming to bring supply and demand when the conventional money was unavailable due to an economic recession.</p>
      <h4>3. How does system work?</h4>
      <p>The idea behind the LETS is that a person should be free to issue money. Each member of the LETS has an account that denominated in &quot;credits&quot. When anyone want to use a credit in exchange, two member handshakes and system is notified that to debit the account of the payer and credit the account of the payee.</p>
      <p>Each accounts starts with zero balance, members can maintain both positive and negative balance.</p>
      <p>&qout;Negative Balance&quot; means that the member has gone into &quot;commitment&quot; to the system which is promise that he/she will provide an equivalent value in goods and services in the futures.</p>
      <p>LET systems uses a virtual currency (There is no physical currency) to	record the exchanges that takes place. Unlike national currency, credits do not have to eared before they are spent and no interest is payable on either negative balances or savings.</p>
      <h4>4. What happens if I get negative balance or savings?</h4>
      <p>&quot;Negative Balance&quot; means that the member has gone into &quot;commitment&quot; to the system which is promise that he/she will provide an equivalent value in goods and services in the futures.</p>
      <h4>5. Can I earn money in your system?</h4>
      <p>LET systems uses a virtual currency (There is no physical currency) to record the exchanges that takes place. Unlike national currency, credits do not have to eared before they are spent and no interest is payable on either negative balances or savings.</p>
      <h4>6. How can I join?</h4>
      <p>Go to the Main Page and Click the Registration. Simple as it sounds!</p>
      <h4>7. Why are systems/users named as &quot;Bees&quot;?</h4>
      <p>The word of "Bee" is an ancient english word for &quot;gathering&quot;.</p>
      <p>The definition: Gathering of people to work together for amusement, the word in fact probably comes from dialectal been or bean (meaning &quot;help given by neighbors&quot;) [Wikipedia]</p>
      <h4>8. How badging mechanism works? What badge requires how money honey combs?</h4>
      <ul>
	<li>Bumble Bee...................60 handshakes within the past 6 months</li>
	<li>Working Bee.................30 handshakes within the past 6 months</li>
	<li>Busy Bee......................5 handshakes within the month</li>
	<li>New Bee.....................Newly registered obtained after the first handshake</li>
      </ul>
      <p>Many more to come...</p>
      <h4>9. Is there or will be a Queen/King Bee Badge?</h4>
      <p>Sadly, no. The idea of having just one Queen Bee or King Bee, conflicts the idea that defends we are defending. So there are no places for king/queen bees for in our Beengdom.</p>
      <h4>10. Comments/Future ideas</h4>
      <p>If you have comment, future idea that you would like to share with us. Go to the <a href="@{Application.contact()}">contacts</a> in the main page and share your thoughts! We welcome you...</p>
    </div>
  </div>
</div>
