#{extends 'main.html' /}
#{set title:'Home' /}

<!--header -->
<!--<div id="header-wrap">
  <div id="header"> <a name="top"></a>
    <h1 id="logo-text"><a href="#">LETS!</a></h1>
    <p id="slogan">Local Exchange Trading System offers a new way for trading services!</p>
    <div  id="nav">
      <ul>
        <li id="current"><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="terms_of_Service.html">Terms Of Service</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <!--<p id="rss"> <a href="#">Grab the RSS feed</a> </p>-->
    <!--<form id="quick-search" method="get" action="#">
      <fieldset class="search">
        <label for="qsearch">Search:</label>
        <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." />
        <button class="btn">Search</button>
      </fieldset>
    </form>-->
    <!--/header
  </div>
</div>-->
<!-- content-outer -->
<div id="content-wrap" class="clear" >
  <!-- content -->
  <div id="content">
    <!-- main -->
    <div id="main" style="padding-top:0px">
      <div class="post" style="padding:top:0px">
        <h3 style="padding-top:0px;">Finalizing Offer</h3>
        <p>We have found the following request that may suit your offer. We recommend applying them instead of creating a new offer if that is what you are looking for!</p>
        <p class="tamam">Kullanici asagidaki requestleri begenmeyip yinede olusturursa offer i, bu alan gozukecek ve asagidaki tablo gozukmeyecek. Your offer is created successfully. Very successfully indeed!</p>
        
        <table class="show_data">
        	<tr class="first">
            	<td>Title</td>
                <td>Tags</td>
                <td>Description</td>
                <td>Units</td>
                <td>Requester</td>
                <td>Details</td>
            </tr>
            <tr>
            	<td><a href="#">Cooking Lesson</a></td>
                <td>fish, cookies, kitchen, soups</td>
                <td>I need a new way of cooking. I am in search of s...</td>
                <td>10</td>
                <td><a href="#">Cihan Demirci</a></td>
                <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td>
            </tr>
            <tr class="background">
            	<td><a href="#">Cooking Lesson</a></td>
                <td>fish, cookies, kitchen, soups</td>
                <td>I need a new way of cooking. I am in search of s...</td>
                <td>10</td>
                <td><a href="#">Cihan Demirci</a></td>
                <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td>
            </tr>
            <tr>
            	<td><a href="#">Cooking Lesson</a></td>
                <td>fish, cookies, kitchen, soups</td>
                <td>I need a new way of cooking. I am in search of s...</td>
                <td>10</td>
                <td><a href="#">Cihan Demirci</a></td>
                <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td>
            </tr>
            <tr class="background">
            	<td><a href="#">Cooking Lesson</a></td>
                <td>fish, cookies, kitchen, soups</td>
                <td>I need a new way of cooking. I am in search of s...</td>
                <td>10</td>
                <td><a href="#">Cihan Demirci</a></td>
                <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td>
            </tr>
        </table>
        
        <div class="buttons">
            <a href="#"> << Return Creating Offer</a>
             <a href="#" class="cancel"> Cancel My Offer</a>
            <div style="float:right;"><a href="#" class="accept">Create My Offer! >> </a></div>
        </div>
        
        
      </div>
      
           
      
      <!-- /main -->
    </div>
    <!-- sidebar -->
    <div id="sidebar"  style="border:0px solid #aaa; padding-top:0px;">
      
      
      <div class="sidemenu">
        <h3>Menu</h3>
        <ul>
          
          <li><a href="#">Create Offer</a></li>
          <li><a href="#">Create Request</a></li>
          <li><a href="#">My Offers</a></li>
          <li><a href="#">My Requests</a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">Update Account</a></li>
        </ul>
      </div>
      
      
      
      
      
      
      <!-- /sidebar -->
    </div>
    <!-- content -->
  </div>
  <!-- /content-out -->
</div>
<!-- footer-outer -->
<div id="footer-outer" class="clear">
  <div id="footer-wrap">
    
    
    
      
    
    
    
      
    </div>
    <!-- /footer-outer -->
  </div>
</div>
<!-- footer-bottom -->
<div id="footer-bottom">
  <p class="bottom-left"> &copy; 2011 <strong>SWE 574 Team 2 Members</strong>&nbsp; &nbsp; &nbsp;</p>
  <p class="bottom-right"><strong><a href="#top">Back to Top</a></strong> </p>
  <!-- /footer-bottom-->
</div>
