#{extends 'main.html' /}
#{set title:'Home' /}

#{if isLoggedIn}
Welcome ${user.fullname}!
<a href="@{Secure.logout()}">Log out</a>
#{/if}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/index.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<!-- main -->
<div id="main" style="padding-top:0px">
  #{if isLoggedIn}  
  <div class="post" style="padding:top:0px">

    <h3 style="padding-top:0px;">Recent HandShakes</h3>
    
    <table class="show_data">
      <tr class="first">
        <td>Title</td>
        <td>Place</td>
        <td>Service Time</td>
        <td>Honey Combs Made</td>
        <td>Offerer</td>
        <td>Requester</td>
        <td>Details</td>
      </tr>
      <tr>
        <td><a href="#">Cooking Lesson</a></td>
        <td>Sisli</td>
        <td>1 day ago</td>
        <td>10</td>
        <td><a href="#">Isa Engiz</a></td>
        <td><a href="#">Cihan Demirci</a></td>
        <td><a href="#"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td>
      </tr>
      <tr class="background">
        <td><a href="#">Plumbing Help</a></td>
        <td>Bebek</td>
        <td>2 days ago</td>
        <td>20</td>
        <td><a href="#">Isa Engiz</a></td>
        <td><a href="#">Onur Ceryan</a></td>
        <td><a href="#"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td>
      </tr>
      <tr>
        <td><a href="#">Read for my child</a></td>
        <td>Beylikduzu</td>
        <td>2 days ago</td>
        <td>3</td>
        <td><a href="#">Eylem Ozekin</a></td>
        <td><a href="#">Onur Ceryan</a></td>
        <td><a href="#"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td>
      </tr>
    </table>
    <div align="right" style="margin-right:30px;"><a href="#">See All &raquo;</a></div>
  </div>
  <div class="post">
    <h3>New Bees</h3>
    <div class="active_users">
      <ul>
	#{list items:newUsers, as:'newbee'}
	<li>${newbee.fullname}</li>
	#{/list}
      </ul>
      <!-- <div class="user"> -->
      <!--   <div class="left_"> -->
      <!--     <div class="image"> -->
      <!--       <div align="center"><img src="@{'/public/images/icons/user.png'}" /></div> -->
      <!--     </div> -->
      <!--     <div class="credits"> -->
      <!--       <div align="center">10 Credits</div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!--   <div class="right_"> -->
      <!--     <ul> -->
      <!--       <li> -->
      <!--         User: <strong>Eylem Ozekin</strong> -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         Favourite Tags: <a href="#">Books</a> <a href="#">Swimming</a> -->
              
      <!--       </li> -->
      <!--       <li> -->
      <!--         Recent Offer: <a href="#">Reading Book</a> with <a href="#">Ertug Karamatli</a> (2 days ago) -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         Recent Request: <a href="#">Reading Book</a> with <a href="#">Ertug Karamatli</a> (2 days ago) -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         14 handshake in last 3 months! -->
      <!--       </li> -->
      <!--     </ul> -->
          
      <!--   </div> -->
        
      <!--   <div style="clear:both;"></div> -->
      <!-- </div> -->
      
      <!-- <div class="user"> -->
      <!--   <div class="left_"> -->
      <!--     <div class="image"> -->
      <!--       <div align="center"><img src="@{'/public/images/icons/user.png'}" /></div> -->
      <!--     </div> -->
      <!--     <div class="credits"> -->
      <!--       <div align="center">10 Credits</div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!--   <div class="right_"> -->
      <!--     <ul> -->
      <!--       <li> -->
      <!--         User: <strong>Ertug Karamatli</strong> -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         Favourite Tags: <a href="#">Books</a> <a href="#">Swimming</a> -->
              
      <!--       </li> -->
      <!--       <li> -->
      <!--         Recent Offer: <a href="#">Reading Book</a> with <a href="#">Ertug Karamatli</a> (2 days ago) -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         Recent Request: <a href="#">Reading Book</a> with <a href="#">Ertug Karamatli</a> (2 days ago) -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         12 handshake in last 3 months! -->
      <!--       </li> -->
      <!--     </ul> -->
          
      <!--   </div> -->
      <!--   <div style="clear:both;"></div> -->
      <!-- </div> -->
      
      <!-- <div class="user"> -->
      <!--   <div class="left_"> -->
      <!--     <div class="image"> -->
      <!--       <div align="center"><img src="@{'/public/images/icons/user.png'}" /></div> -->
      <!--     </div> -->
      <!--     <div class="credits"> -->
      <!--       <div align="center">10 Credits</div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!--   <div class="right_"> -->
      <!--     <ul> -->
      <!--       <li> -->
      <!--         User: <strong>Baris Avsar</strong> -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         Favourite Tags: <a href="#">Books</a> <a href="#">Swimming</a> -->
              
      <!--       </li> -->
      <!--       <li> -->
      <!--         Recent Offer: <a href="#">Reading Book</a> with <a href="#">Ertug Karamatli</a> (2 days ago) -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         Recent Request: <a href="#">Reading Book</a> with <a href="#">Ertug Karamatli</a> (2 days ago) -->
      <!--       </li> -->
      <!--       <li> -->
      <!--         9 handshake in last 3 months! -->
      <!--       </li> -->
      <!--     </ul> -->
          
      <!--   </div> -->
      <!--   <div style="clear:both;"></div> -->
      <!-- </div> -->
      
    </div>
  </div>
  #{/if}
  #{else}
  <div>
    #{form @Secure.authenticate()}
    <p id="username-field">
      <label for="username">&{'secure.username'}</label>
      <input type="text" name="username" id="username" value="${flash.username}" />
    </p>
    <p id="password-field">
      <label for="password">&{'secure.password'}</label>
      <input type="password" name="password" id="password" value="" />
    </p>
    <p id="signin-field">
      <input type="submit" id="signin" value="&{'secure.signin'}" />
    </p>
    <p id="register-field">
      <a href="@{Users.register()}">Register</a>
    </p>
    #{/form}
  </div>
  #{/else}
  <!-- /main -->
</div>
