#{extends 'main.html' /}
#{set title:'Search Offers' /}

<div id="main" style="padding-top:0px">
  #{if offers}
  <table>
    <tr>
      <th>Title</th>
      <th>Offerer</th>
      <th>Valid Until</th>
      <th>Honey Combs</th>
    </tr>
    #{list items:offers, as:'offer'}
    <tr>
      <a href="@{Offers.detail()}"<td>${offer.title}</td></a>
      <td>${offer.userEmail}</td>
      <td>${offer.endDate}</td>
      <td>${offer.credit}</td>
    </tr>
    #{/list}
  </table>
  #{/if}
  #{else}
  There are no offers available.
  #{/else}
</div>
