#{extends 'logged_user.html' /}
#{set title:'Handshake Detail' /}

<div id="main" style="padding-top:0px">
    <div class="post" style="padding:top:0px">
    
    #{if created}
    <h3>An application for the handshake has been initiated</h3>
    #{/if}
    #{if cancelled}
    <h3>The application for the handshake has been cancelled</h3>
    #{/if}
    #{if accepted}
    <h3>You have accepted the application.</h3>
    #{/if}
    #{if startedByBoth}
    <h3>Both parties have acknowledged that the handshake has been started. Honey combs have been divided among the bees.</h3>
    #{/if}
    #{elseif startedByOne}
    <h3>You have acknowledged the start of the handshake. The other party must also acknowledge in order to commence dividing of honey combs.</h3>
    #{/elseif}
    
    #{if service}
    <h4>Handshake Details</h4>
    <table>
        <thead>
         <tr>
         <th>Title</th>
         <th>Owner</th>
         <th>Participant(s)</th>
         <th>Description</th>
         <th>Tags</th>
         <th>Created On</th>
         </tr>
        </thead>
        <tbody>
            <tr>
                <td>${ service.title }</td>
                <td>${ service.owner.fullname }</td>
                <td>TODO</td>
                <td>${ service.description }</td>
                <td>TODO</td>
                <td>TODO</td>
            </tr>
        </tbody>
    </table>
    #{/if}
    
  </div>
</div>
