#{extends 'logged_user.html' /}
#{set title:'Handshake Detail' /}

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <h3>The handshake has been initiated.
    <h4>Handshake Details</h4>
    <table>
      <tr>
	<th>Title</th>
	<th>Offerer</th>
	<th>Requester</th>
	<th>Description</th>
	<th>Tags</th>
	<th>Created On</th>
      </tr>
      <tr>
	<td>
	  ${handshakeItem.offer.title}
	</td>
	<td>
	  ${handshakeItem.offer.user.fullname}
	</td>
	<td>	  
	  ${handshakeItem.request.user.fullname}
	</td>
	<td>
	  ${handshakeItem.offer.description}
	</td>
	<td>
	  #{if handshakeItem.offer.tags}
	  ${handshakeItem.offer.tags.join(', ')}
	  #{/if}
	  #{else}
	  ${handshakeItem.request.tags.join(', ')}
	  #{/else}
	</td>
	<td>
	  ${handshakeItem.creationDate.format('dd MMMM yyyy')}
	</td>
      </tr>
    </table>
  </div>
</div>
