#{extends 'logged_user.html' /}
#{set title:'Handshake Details' /}

<script src="@{'/public/javascripts/handshake-detail.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <div class="right">
      <h3>${handshake.offer.title}</h3>
      <p>${handshake.offer.description}</p>
      <div class="restrictions">
	<h4>Details for Handshake</h4>
	
	<ul>
	  <li>
	    <label>Title</label>
	    ${handshake.offer.title}
	  </li>
	  <li>
	    <label>Description</label>
	    ${handshake.offer.description}
	  </li>
          <li>
            <label>Honey Combs Made</label>
	    ${handshake.offer.credit}
          </li>
          <li>
            <label>Status</label>
	    ${handshake.status}
          </li>
          
        </ul>
        
      </div>
    </div>
    
    <div class="left">
      <div class="post-meta">
        <ul>
          <li><h4>Offerer</h4>${handshake.offer.user.fullname}</li> 
          <li><h4>Requester</h4>${handshake.request.user.fullname}</li>
        </ul>
      </div>
    </div>
    
    <div class="post-meta">
      <h4>tags</h4>
      <p>
	#{if handshake.offer.tags}
	${handshake.offer.tags.join(', ')}
	#{/if}
	#{else}
	${handshake.request.tags.join(', ')}
	#{/else}
      </p>
      
      
      <div class="apply_menu">
	#{if handshake.status == models.Handshake.Status.WAITING_APPROVAL}
	#{if (originallyOffer && currentUser.id == handshake.offererId) ||
	    (!originallyOffer && currentUser.id == handshake.requesterId)}
	<a class="apply" style="width:130px" href="@{Handshakes.accept(handshake.id)}">Accept</a>
	#{/if}
	#{/if}
	#{if handshake.status == models.Handshake.Status.ACCEPTED}
	<a style="width:130px" class="apply" href="@{Handshakes.start(handshake.id)}">Start</a>
	<a style="width:130px" class="cancel" href="@{Handshakes.cancel(handshake.id)}">Cancel</a>
	#{/if}
	#{if handshake.status == models.Handshake.Status.STARTED}
	<a style="width:130px" class="apply" href="@{Handshakes.end(handshake.id)}">End</a>
	#{/if}
      </div>
    </div>
    

  </div>
  
  
  
  <div class="post-bottom-section">
    <div class="tab_left">
      <ul>
        <li>
          <a href="#" class="active" target_content="content-1">Comments (3)</a>
        </li>
        <li>
          <a href="#" target_content="content-2">Similar Handshakes</a>
        </li>
        <li>
          <a href="#" target_content="content-3">Similar Offers</a>
        </li>
        <li>
          <a href="#" target_content="content-4">Similar Requests</a>
        </li>
      </ul>
    </div>
    <div class="right tab_right">
      
      
      <div id="content-1" class="tab_content">
        <span class="title">Comments</span>
        <ol class="commentlist">
          #{list items:comments, as:'comment'}
          <li class="depth-1">
            <div class="comment-info"> <img alt="" src="images/gravatar.jpg" class="avatar" height="40" width="40" /> <cite> <a href="#">${comment.user.fullname}</a> Says: <br />
                <span class="comment-data"><a href="#">${comment.date}</a></span> </cite> </div>
            <div class="comment-text">
              <p>${comment.text}</p>
            </div>
          </li>
          #{/list}
        </ol>
        <form action="@{Handshakes.saveComment(handshake.id)}" method="post" id="commentform">
          <p>
            <label for="message">Your Message</label>
            <br />
            <textarea id="message" name="message" rows="10" cols="20" tabindex="4"></textarea>
          </p>
          <p class="no-border">
            <input class="button" type="submit" value="Submit Comment" tabindex="5" />
          </p>
        </form>
      </div>
      
      
      
      
      <div id="content-2" class="tab_content nonvisible">
        <span class="title">Similar Handshakes</span>
        <table class="show_data">
          <tr class="first">
            <td>Title</td>
            <td>Place</td>
            <td>Service Time</td>
            <td>Credits Exchanged</td>
            <td>Offerer</td>
            <td>Requester</td>
            <td>Details</td>
          </tr>
          <tr>
            <td><a href="#">Cooking Lesson</a></td>
            <td>Sisli</td>
            <td>1 day ago</td>
            <td>10</td>
            <td><a href="#">Isa Engiz</a></td>
            <td><a href="#">Cihan Demirci</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
          <tr class="background">
            <td><a href="#">Plumbing Help</a></td>
            <td>Bebek</td>
            <td>2 days ago</td>
            <td>20</td>
            <td><a href="#">Isa Engiz</a></td>
            <td><a href="#">Onur Ceryan</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
          <tr>
            <td><a href="#">Read for my child</a></td>
            <td>Beylikduzu</td>
            <td>2 days ago</td>
            <td>3</td>
            <td><a href="#">Eylem Ozekin</a></td>
            <td><a href="#">Onur Ceryan</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
        </table>
      </div>
      
      
      
      
      
      <div id="content-3" class="tab_content nonvisible">
        <span class="title">Similar Offers</span>
        <table class="show_data">
          <tr class="first">
            <td>Title</td>
            <td>Place</td>
            <td>Service Time</td>
            <td>Credits Exchanged</td>
            <td>Offerer</td>
            <td>Requester</td>
            <td>Details</td>
          </tr>
          <tr>
            <td><a href="#">Cooking Lesson</a></td>
            <td>Sisli</td>
            <td>1 day ago</td>
            <td>10</td>
            <td><a href="#">Isa Engiz</a></td>
            <td><a href="#">Cihan Demirci</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
          <tr class="background">
            <td><a href="#">Plumbing Help</a></td>
            <td>Bebek</td>
            <td>2 days ago</td>
            <td>20</td>
            <td><a href="#">Isa Engiz</a></td>
            <td><a href="#">Onur Ceryan</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
          <tr>
            <td><a href="#">Read for my child</a></td>
            <td>Beylikduzu</td>
            <td>2 days ago</td>
            <td>3</td>
            <td><a href="#">Eylem Ozekin</a></td>
            <td><a href="#">Onur Ceryan</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
        </table>
      </div>

      <div id="content-4" class="tab_content nonvisible">
        <span class="title">Similar Requests</span>
        <table class="show_data">
          <tr class="first">
            <td>Title</td>
            <td>Place</td>
            <td>Service Time</td>
            <td>Credits Exchanged</td>
            <td>Offerer</td>
            <td>Requester</td>
            <td>Details</td>
          </tr>
          <tr>
            <td><a href="#">Cooking Lesson</a></td>
            <td>Sisli</td>
            <td>1 day ago</td>
            <td>10</td>
            <td><a href="#">Isa Engiz</a></td>
            <td><a href="#">Cihan Demirci</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
          <tr class="background">
            <td><a href="#">Plumbing Help</a></td>
            <td>Bebek</td>
            <td>2 days ago</td>
            <td>20</td>
            <td><a href="#">Isa Engiz</a></td>
            <td><a href="#">Onur Ceryan</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
          <tr>
            <td><a href="#">Read for my child</a></td>
            <td>Beylikduzu</td>
            <td>2 days ago</td>
            <td>3</td>
            <td><a href="#">Eylem Ozekin</a></td>
            <td><a href="#">Onur Ceryan</a></td>
            <td><a href="#"><img src="images/icons/zoom.png" class="zoom_icon" /></a></td>
          </tr>
        </table>
      </div>
      
    </div>
  </div>

</div>
