body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Home_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:680px;
    top:90px;
    width:280px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:680px;
    top:90px;
    width:280px;
    height:40px
}

.u2_original {
    background-image: url('../Home_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:680px;
    top:280px;
    width:280px;
    height:170px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:176px;
}

.u3 {
    position:absolute;
    left:2px;
    top:77px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:680px;
    top:280px;
    width:280px;
    height:170px
}

.u4_original {
    background-image: url('../Visitor_Layout_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:10px;
    width:100px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:100px;
    top:10px;
    width:100px;
    height:40px
}

.u7_original {
    background-image: url('../Home_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:100px;
    top:90px;
    width:540px;
    height:360px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:546px;
    height:366px;
}

.u8 {
    position:absolute;
    left:2px;
    top:172px;
    width:536px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:100px;
    top:90px;
    width:540px;
    height:360px
}

.u9 {
    position:absolute;
    left:700px;
    top:310px;
    width:240px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:700px;
    top:345px;
    width:240px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:700px;
    top:380px;
    width:240px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:790px;
    top:415px;
    width:150px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:700px;
    top:100px;
    width:240px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_original {
    background-image: url('../Home_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:680px;
    top:140px;
    width:280px;
    height:130px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:136px;
}

.u15 {
    position:absolute;
    left:2px;
    top:57px;
    width:276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:680px;
    top:140px;
    width:280px;
    height:130px
}

.u16 {
    position:absolute;
    left:700px;
    top:158px;
    width:240px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:700px;
    top:195px;
    width:130px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:850px;
    top:195px;
    width:90px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:760px;
    top:286px;
    width:180px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:840px;
    top:240px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../Home_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:400px;
    height:200px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:206px;
}

.u25 {
    position:absolute;
    left:2px;
    top:92px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:400px;
    height:200px
}

.u26 {
    position:absolute;
    left:100px;
    top:70px;
    width:200px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

