#{extends 'logged_user.html' /}
#{set title:'Create Offer' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/datepicker.css'}">
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/create-offer.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<h3 style="padding-top:0px;">Create New Offer</h3>
<p>Use the form below to create a new offer.</p>
<form action="@{Offers.doCreate()}" method="POST" class="utility_form">

  <fieldset>
    <legend>Descriptions</legend>
    
    <ul>
      <input type="hidden" name="offerItem.userEmail" value="${user.email}" />
      <li>
        <label>Title</label>
        <input type="text" name="offerItem.title" value="${flash['offerItem.title']}" />
	#{error 'offerItem.title' /}
      </li>
      <li>
        <label>Tags</label>
        <input type="text" name="offerItem.tags" value="${flash['offerItem.tags']}" />
	#{error 'offerItem.tags' /}
      </li>
      <li>
        <label>Description<br />#{error 'offerItem.description' /}</label>
        <textarea name="offerItem.description">${flash['offerItem.description']}</textarea>
      </li>
      <li>
        <label>Honey Combs</label>
	<input type="text" name="offerItem.credit" value="${flash['offerItem.credit']}" />
	#{error 'offerItem.credit' /}
      </li>
    </ul>
  </fieldset>
  
  <fieldset>
    <legend>Limitations</legend>
    <ul>
      <li>
        <label>Valid Until</label>
        <input type="text" name="offerItem.endDate" class="date_pick" value="${flash['offerItem.endDate']}" />
	#{error 'offerItem.endDate' /}
      </li>
    </ul>
    
  </fieldset>
  
  <!-- <fieldset> -->
  <!--   <legend>Photos</legend> -->
  <!--   <ul> -->
  <!--     <li> -->
  <!--       <label>Photo</label> -->
  <!--       <input type="file" name="photo" /> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <label>Added Photos</label> -->
  <!--       <div class="photos"> -->
  <!--         <img src="@{'public/images/icons/user.png'}" /> -->
  <!--         <img src="@{'public/images/icons/user.png'}" /> -->
  <!--       </div> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </fieldset> -->
  
  <input type="submit" value="Proceed" />

</form>
