#{extends 'main.html' /}
#{set title:'Detail' /}

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <div class="right">
      <h3>${offer.title}</h3>

      <h4>Description</h4>
      <p>${offer.description}</p>
      
      <div class="restrictions">
        <ul>
          <!-- <li> -->
          <!--   <label>Minimum Attendee Number</label> 1 -->
          <!-- </li> -->
          <li>
            <label>Valid Until</label>
	    ${offer.endDate}
          </li>
          <li>
            <label>Location</label> Istanbul / Sisli / Pangalti
          </li>
        </ul>
      </div>
    </div>
    
    <div class="left">
      <a href="#"><img src="images/icons/user.png" class="owner_image" /></a>
      <div class="post-meta">
        <ul>
          <li class="user"><a href="#">${offer.userEmail}</a></li>
          <li class="time"><a href="#">10 Units</a></li>
          <li class="comment"><a href="#">27 Applicants</a></li>
        </ul>
      </div>
    </div>
    
    <div class="post-meta">
      <h4>tags</h4>
      ${offer.tags}
    </div>
    
  </div>
</div>
