#{extends 'logged_user.html' /}
#{set title:'Edit Offer' /}

#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/datepicker.css'}">
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/datepicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/create-offer.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<h3 style="padding-top:0px;">Edit Offer</h3>
<p>Use the form below to edit the offer.</p>
<form action="@{Offers.doCreate()}" method="POST" class="utility_form">

  <fieldset>
    <legend>Descriptions</legend>
    
    <ul>
      <li>
        <label>Title</label>
        <input type="text" name="offerItem.title" value="${offerItem.title}" />
	<span class="error">#{error 'offerItem.title' /}</span>
      </li>
      <li>
        <label>Tags</label>
        <input type="text" name="tags" value="${offerItem.getTags()}" /> Separate tags with commas
	<span class="error">#{error 'offerItem.tags' /}</span>
      </li>
      <li>
        <label>Description</label>
        <textarea name="offerItem.description">${offerItem.description}</textarea>
        <span class="error">#{error 'offerItem.description' /}</span>
      </li>
      <li>
        <label>Honey Combs</label>
	<input type="text" name="offerItem.credit" value="${offerItem.credit}" />
	<span class="error">#{error 'offerItem.credit' /}</span>
      </li>
    </ul>
  </fieldset>
  
  <fieldset>
    <legend>Limitations</legend>
    <ul>
      <li>
        <label>Valid Until</label>
        <input type="text" name="offerItem.endDate" class="date_pick" value="${offerItem.endDate}" />
	<span class="error">#{error 'offerItem.endDate' /}</span>
      </li>
    </ul>
    
  </fieldset>
   
  <input type="submit" value="Proceed" />

</form>

