#{extends 'main.html' /}
#{set title:'Finalize Offer' /}

<!-- main -->
<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <h3 style="padding-top:0px;">Finalizing Offer</h3>

    <form action="@{Offers.save(offerItem)}" method="POST">
      <input type="hidden" name="offerItem.userEmail" value="${offerItem.userEmail}" />
      <p>
	Offer Title:
      </p>
      ${offerItem.title}
      <p>
	Offer Tags:
      </p>
      ${offerItem.tags}

      <p>
	Offer Description:
      </p>
      ${offerItem.description}
      <p>
	Offer's Honey Combs:
      </p>
      ${offerItem.credit}
      <br/><br/>
      <input type="submit" name="create" method="POST" value="Create Offer" />
      <input type="button" value="Edit Offer" onclick="window.history.back()" />
    </form>
    
    <!-- <p>We have found the following request that may suit your offer. We recommend applying them instead of creating a new offer if that is what you are looking for!</p> -->
    <!-- <p class="tamam">Kullannici asagidaki requestleri begenmeyip yinede olusturursa offer i, bu alan gozukecek ve asagidaki tablo gozukmeyecek. Your offer is created successfully. Very successfully indeed!</p> -->
    
    <!-- <table class="show_data"> -->
    <!--   <tr class="first"> -->
    <!--     <td>Title</td> -->
    <!--     <td>Tags</td> -->
    <!--     <td>Description</td> -->
    <!--     <td>Units</td> -->
    <!--     <td>Requester</td> -->
    <!--     <td>Details</td> -->
    <!--   </tr> -->
    <!--   <tr> -->
    <!--     <td><a href="#">Cooking Lesson</a></td> -->
    <!--     <td>fish, cookies, kitchen, soups</td> -->
    <!--     <td>I need a new way of cooking. I am in search of s...</td> -->
    <!--     <td>10</td> -->
    <!--     <td><a href="#">Cihan Demirci</a></td> -->
    <!--     <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td> -->
    <!--   </tr> -->
    <!--   <tr class="background"> -->
    <!--     <td><a href="#">Cooking Lesson</a></td> -->
    <!--     <td>fish, cookies, kitchen, soups</td> -->
    <!--     <td>I need a new way of cooking. I am in search of s...</td> -->
    <!--     <td>10</td> -->
    <!--     <td><a href="#">Cihan Demirci</a></td> -->
    <!--     <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td> -->
    <!--   </tr> -->
    <!--   <tr> -->
    <!--     <td><a href="#">Cooking Lesson</a></td> -->
    <!--     <td>fish, cookies, kitchen, soups</td> -->
    <!--     <td>I need a new way of cooking. I am in search of s...</td> -->
    <!--     <td>10</td> -->
    <!--     <td><a href="#">Cihan Demirci</a></td> -->
    <!--     <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td> -->
    <!--   </tr> -->
    <!--   <tr class="background"> -->
    <!--     <td><a href="#">Cooking Lesson</a></td> -->
    <!--     <td>fish, cookies, kitchen, soups</td> -->
    <!--     <td>I need a new way of cooking. I am in search of s...</td> -->
    <!--     <td>10</td> -->
    <!--     <td><a href="#">Cihan Demirci</a></td> -->
    <!--     <td><a href="#" target="_blank"><img src="@{'/public/images/icons/zoom.png'}" class="zoom_icon" /></a></td> -->
    <!--   </tr> -->
    <!-- </table> -->
    
    <!-- <div class="buttons"> -->
    <!--   <a href="#"> &#60;&#60 Return Creating Offer</a> -->
    <!--   <a href="#" class="cancel"> Cancel My Offer</a> -->
    <!--   <div style="float:right;"><a href="#" class="accept">Create My Offer! &#62;&#62; </a></div> -->
    <!-- </div> -->
    
  </div>

  <!-- /main -->
</div>
