#{extends 'main.html' /}
#{set title:'Finalize Offer' /}

<div id="content">
  <div id="main" style="padding-top:0px">
    <div class="post" style="padding:top:0px">
      <h3 style="padding-top:0px;">Finalizing Offer</h3>
      <form action="@{Offers.save(offerItem.id)}" method="POST">
	<p>
	  Offer Title:
	</p>
	${offerItem.title}
	<p>
	  Offer Tags:
	</p>
	${offerItem.getTags()}
	<p>
	  Offer Description:
	</p>
	${offerItem.description}
	<p>
	  Offer's Honey Combs:
	</p>
	${offerItem.credit}
	<p>
	  Valid Until:
	  </p>
	${offerItem.endDate}
	<br/><br/>
	<input type="submit" name="create" method="POST" value="Create Offer" />
	<input type="button" value="Edit Offer" onclick="window.history.back()" />
      </form>
      
    </div>

  </div>
</div>
