#{extends 'logged_user.html' /}
#{set title:'Your Offers' /}
<h3>My Offers</h3>
#{if offers}
<table style="width:92%">
  <tr>
    <th>Title</th>
    <th>Valid Until</th>
    <th>Honey Combs</th>
    <th colspan="2" style="text-align: center">Actions</th>
  </tr>
  #{list items:offers, as:'offer'}
  <tr>
    <!--  <td><a href="@{Offers.showDetails(offer.id)}">${offer.title}</a></td> -->
    <td>${offer.title}</td>
    <td>${offer.endDate.format('dd MMMM yyyy')}</td>
    <td>${offer.credit}</td>
    <td><a href="@{Offers.showDetails(offer.id)}">Show</a></td>
    <td><a href="@{Offers.edit(offer.id)}">Edit</a></td>
  </tr>
</a>
#{/list}
</table>
#{/if}
#{else}
<p>Currently you have no offers.</p>
#{/else}
