#{extends 'logged_user.html' /}
#{set title:'Search Offers' /}

#{if offers}
<table>
  <tr>
    <th>Title</th>
    <th>Offerer</th>
    <th>Valid Until</th>
    <th>Honey Combs</th>
    <th>Details</th>
  </tr>
  #{list items:offers, as:'offer'}
  <tr>
    <td>${offer.title}</td>
    <td>${offer.user.fullname}</td>
    <td>${offer.endDate}</td>
    <td>${offer.credit}</td>
    <td><a href="@{Offers.showDetails(offer.id)}">Details</a></td>
  </tr>
</a>
#{/list}
</table>
#{/if}
#{else}
There are no offers available.
#{/else}

