#{extends 'logged_user.html' /}
#{set title:'Search Offers' /}
<h3>Offers</h3>
#{if allOffers}
<form  action="@{Offers.search()}" style="width:655px; padding:15px 5px 15px 20px;">
  <label for="phrase" style="float:left; width:125px; margin-top:10px">Search</label>
  <input type="text" name="phrase" id="phrase" value="${phrase}" style="width:360px" />
 <input type="submit" value="Go" onmouseover="this.style.cursor='pointer'" 
 		style="background-color:#090; width:100px; -moz-border-radius:8px; font-weight:bold; border-radius:8px;color:white" id="btnSubmit">&nbsp;</input>
  <br/>
  <label style="float:left; width:125px; margin-top:10px">Location</label>
  	   <select id="ddlLocation" onchange="enableLocation(this);">
  			<option value="0" selected="selected">No, do not search by location</option>
  			<option value="1">Yes, show me results in the selected locations (no virtuals)</option>	
  		    <option value="2">Show me only offers with virtual locations</option>			
		</select>  
		<input id="txt_in_location" type="text" name="location" value="${location}" style="visibility:hidden; display:none" />		
	<div id="div_County_Dis" style="display:none; visibility:hidden">
	   <label style="float:left; padding-left:20px; width:105px; margin-top:10px" >County</label>
			<select id="ddlCounty" onchange="changeForCounty();">
	        #{list items:counties, as:'countyItem'}
		    <option value="${countyItem.county_id}">	      	    
		         ${countyItem.name}        
		    </option>	    
		    #{/list}
		    </select> 	
		    <input style="display:none; visibility:hidden" type="text" id="txtCountyId" name="county_id" value="${county_id}" />    
	   <br/>
	   <label style="float:left; padding-left:20px; width:105px; margin-top:10px" >District</label>
	  	   <select onchange="changeForDistrict();" id="ddlDistrict">  			
			</select>  
			 <input style="display:none; visibility:hidden" id="txtDistrictId" type="text" name="district_id" value="${district_id}" />  		  
	</div>
	
</form>
#{/if}
#{if phrase}
#{if foundOffers}
<table style="width:92%">
  <tr>
    <th>Title</th>
    <th>Offerer</th>
    <th>Valid Until</th>
    <th>Honey Combs</th>
    <th>Details</th>
  </tr>
  #{list items:foundOffers, as:'offer'}
  <tr>
    <td>${offer.title}</td>
    <td>${offer.user.fullname}</td>
    <td>${offer.endDate.format('dd MMMM yyyy')}</td>
    <td>${offer.credit}</td>
    <td><a href="@{Offers.showDetails(offer.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
<br/>
 <label style="padding-left:45px;">No offers are able to match the criteria.</label>
#{/else}
#{/if}
#{else}

#{if showFiltered}

#{if foundOffers}
<table style="width:92%">
  <tr>
    <th>Title</th>
    <th>Offerer</th>
    <th>Valid Until</th>
    <th>Honey Combs</th>
    <th>Details</th>
  </tr>
  #{list items:foundOffers, as:'offer'}
  <tr>
    <td>${offer.title}</td>
    <td>${offer.user.fullname}</td>
    <td>${offer.endDate.format('dd MMMM yyyy')}</td>
    <td>${offer.credit}</td>
    <td><a href="@{Offers.showDetails(offer.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
<br/>
 <label style="padding-left:45px;">No offers are able to match the criteria.</label>
#{/else}


#{/if}
#{else}

#{if allOffers}
<table style="width:92%">
  <tr>
    <th>Title</th>
    <th>Offerer</th>
    <th>Valid Until</th>
    <th>Honey Combs</th>
    <th>Details</th>
  </tr>
  #{list items:allOffers, as:'offer'}
  <tr>
    <td>${offer.title}</td>
    <td>${offer.user.fullname}</td>
    <td>${offer.endDate.format('dd MMMM yyyy')}</td>
    <td>${offer.credit}</td>
    <td><a href="@{Offers.showDetails(offer.id)}">Details</a></td>
  </tr>
  #{/list}
</table>
#{/if}
#{else}
 <label style="padding-left:45px;">There are no available offers.</label>
#{/else}
#{/else}
#{/else}

<select id="ddlAllDistrict" style="display:none; visibility:hidden;" 
       #{list items:districts, as:'districtItem'}
    <option value="${districtItem.district_id}">	      	    
          ##${districtItem.county_id}##${districtItem.name}        
    </option>	    
    #{/list}
</select>  

<script>
$('div').keypress( function(e) { 
	   if(e.keyCode == '13') { 
	     $(this).find('.btnSubmit').click(); 
	   } 
	}); 


var ddlLocation = document.getElementById("ddlLocation") ;

if(document.getElementById("txt_in_location").value == "0")
{
	document.getElementById("div_County_Dis").style.visibility = "hidden";
	document.getElementById("div_County_Dis").style.display = "none";
	ddlLocation.options[0].selected = true;
}
else if(document.getElementById("txt_in_location").value == "1")
{
	document.getElementById("div_County_Dis").style.visibility = "visible";
	document.getElementById("div_County_Dis").style.display = "";
	ddlLocation.options[1].selected = true;
	
	if(document.getElementById("txtCountyId").value != "")
	{
		var ddlC = document.getElementById("ddlCounty");
		for(var i = 0; i< ddlC.length; i++)
		{
			if(ddlC.options[i].value == document.getElementById("txtCountyId").value)
			{
				ddlC.options[i].selected = true;
				fillDistricts(ddlC.options[i].value);
				break;
			}
		}				
		
		if(document.getElementById("txtDistrictId").value != "")
		{	
			var ddlDD = document.getElementById("ddlDistrict");
			for(var i = 0; i< ddlDD.length; i++)
			{
				if(ddlDD.options[i].value == document.getElementById("txtDistrictId").value)
				{
					ddlDD.options[i].selected = true;
					break;
				}		
			}		
		}		
	}
	else fillDistricts("0");
}
else if(document.getElementById("txt_in_location").value == "2")
{
	document.getElementById("div_County_Dis").style.visibility = "hidden";
	document.getElementById("div_County_Dis").style.display = "none";
	ddlLocation.options[2].selected = true;
}

function enableLocation(ddl) {
	if(ddl.options[ddl.selectedIndex].value == 0)
	{
		document.getElementById("div_County_Dis").style.visibility = "hidden";
		document.getElementById("div_County_Dis").style.display = "none";	
		document.getElementById("txt_in_location").value= "0";	
		
		document.getElementById("txtDistrictId").value = "";
		document.getElementById("txtCountyId").value = "";
		
		fillDistricts("0");	
		
		document.getElementById("ddlDistrict").options[0].selected = true;
		document.getElementById("ddlCounty").options[0].selected = true;
	}
	else if(ddl.options[ddl.selectedIndex].value == 1)
	{
		document.getElementById("div_County_Dis").style.visibility = "visible";
		document.getElementById("div_County_Dis").style.display = "";	
		document.getElementById("txt_in_location").value= "1";	
		
		fillDistricts("0");	
	}	
	else if(ddl.options[ddl.selectedIndex].value == 2)
	{	
		document.getElementById("div_County_Dis").style.visibility = "hidden";
		document.getElementById("div_County_Dis").style.display = "none";	
		document.getElementById("txt_in_location").value= "2";	
		
		document.getElementById("txtDistrictId").value = "";
		document.getElementById("txtCountyId").value = "";
		
		fillDistricts("0");	
		
		document.getElementById("ddlDistrict").options[0].selected = true;
		document.getElementById("ddlCounty").options[0].selected = true;
	}
}

function fillDistricts(p_county)
{
	var ddlDis = document.getElementById("ddlDistrict");
	
	if(p_county == "0")
	{			
		var tmp = ddlDis.length;
		for(var i=0; i < tmp; i++)
		{	
			ddlDis.remove(0);
		}
		
		addElement("All","0",ddlDis)
		document.getElementById("txtDistrictId").value = "";
	}
	else 
	{
		var tmp = ddlDis.length;
		for(var i=0; i < tmp; i++)
		{	
			ddlDis.remove(0);
		}
		addElement("All","0",ddlDis)
		
		var ddlAllDistrict = document.getElementById("ddlAllDistrict");
		for(var i=0; i < ddlAllDistrict.length; i++)
		{
			var searchStr = "##" + p_county + "##";	
			if(ddlAllDistrict.options[i].text.indexOf(searchStr) > -1)
			{
				addElement(ddlAllDistrict.options[i].text.replace(searchStr,""),ddlAllDistrict.options[i].value, ddlDis);
			}
		}	
	}	
}

function changeForDistrict()
{	
	var ddlD = document.getElementById("ddlDistrict");
	if(ddlD.options[ddlD.selectedIndex].text == "All")
	{
		document.getElementById("txtDistrictId").value = "";
	}
	else
	{
		document.getElementById("txtDistrictId").value = ddlD.options[ddlD.selectedIndex].value;
	}
		
}

function addElement(text,value,ddl)
{ 
	var elOptNew = document.createElement('option');
	elOptNew.text = text;
	elOptNew.value = value;
	
  	try 
	{
		ddl.add(elOptNew, null); // standards compliant; doesn't work in IE
	}
  	catch(ex) {
	    ddl.add(elOptNew); // IE only
	}
}

function changeForCounty()
{		
	var ddlC = document.getElementById("ddlCounty");
		
	if(ddlC.options[ddlC.selectedIndex].text == "All")
	{		
		document.getElementById("txtCountyId").value = "";		
		document.getElementById("txtDistrictId").value = "";	
	}
	else
	{		
		document.getElementById("txtCountyId").value = ddlC.options[ddlC.selectedIndex].value;	
		document.getElementById("txtDistrictId").value = "";
	}
		
	fillDistricts(ddlC.options[ddlC.selectedIndex].value);
}

</script>