#{extends 'main.html' /}
#{set title:'Offer Details' /}
<div id="main">
  <h3>Details for offer ${offerItem.title}:</h3>
  <p>
    <span class="title">Name:</span> ${offerItem.title}
  </p>
  <p>
    <span class="title">Tags:</span> ${offerItem.tags}
  </p>
  <p>
    <span class="title">Description:</span> ${offerItem.description}
  </p>
  <p>
    <span class="title">Honey Combs:</span> ${offerItem.credit}
  </p>
  <p>
    <span class="title">Valid Until:</span> ${offerItem.endDate}
  </p>
  <p>
    <a href="@{Application.index()}">Main Page</a>
  </p>
</div>
