#{extends 'logged_user.html' /}
#{set title:'Offer Detail' /}

<div id="main" style="padding-top:0px">
  <div class="post" style="padding:top:0px">
    <div class="right">
      <h3>${offerItem.title}</h3>
      <div class="restrictions">
	<h4>Details for Offer</h4>
	<ul>
	  <li>
	    <label>Title</label>
	    ${offerItem.title}
	  </li>
	  <li>
	    <label>Description</label>
	    ${offerItem.description}
	  </li>
          <li>
            <label>Valid Until</label>
	    ${offerItem.endDate.format()}
          </li>
        </ul>
      </div>
    </div>
    
    <div class="left">
      <a href="@{Users.profile(offerOwner.id)}">
	#{if offerOwner.photo.exists()}
	<img src="@{Application.showUserPhoto(offerOwner.id)}
" alt="${offerOwner.fullname}" class="avatar" />
	#{/if}
	#{else}
    	<img src="/public/images/lbi02.png" class="avatar">
	#{/else}
      </a>
      <div class="post-meta">
        <ul>
          <li class="user">${offerItem.user.fullname}</li>
          <li><h4>Honey Combs</h4>${offerItem.credit}</li>
        </ul>
      </div>
    </div>
    
    <div class="post-meta">
      <h4>tags</h4>
      <p>
      #{list items:offerItem.tags, as:'offerTag'}
      <a href="@{Offers.search(offerTag)}">${offerTag}</a>
      #{/list}
      </p>
    </div>

  </div>
  #{if someoneElsesOffer}
  <div class="apply_menu">
    <a class="apply" href="@{Handshakes.bindToOffer(offerItem.id)}">Apply</a>
  </div>
  #{/if}

</div>
