#{extends 'main.html' /}
#{set title:'Offer Created' /}
<div id="content">
  <div id="main" style="padding-top:0px">
    <div class="post" style="padding:top:0px">
      <h3 style="padding-top:0px;">Your offer was successfully created</h3>
      <form>
	<ul class="long_login">
	  <li>
	    <label>Offer Title</label>
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.title}" />
	  </li>
	  <li>
	    <label>Offer Tags</label>
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.getTags()}" />
	  </li>
	  <li>
	    <label>Offer Description</label>
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.description}" />
	  </li>
	  <a href="@{Application.index()}"><input type="button" value="Main Page" /></a>
      </form>
      
    </div>
  </div>
</div>
