#{extends 'main.html' /}
#{if isOldOffer}
#{set title:'Offer Edited' /}
#{/if}
#{else}
#{set title:'Offer Created' /}
#{/else}
<div id="content">
  <div id="main" style="padding-top:0px">
    <div class="post" style="padding:top:0px">
      <h3 style="padding-top:0px;">
	#{if !isOldOffer}
	Your offer was successfully edited
	#{/if}
	#{else}
	Your offer was successfully created
	#{/else}
      </h3>
      <form>
	<ul class="long_login">
	  <li>
	    <label>Offer Title</label>
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.title}" />
	  </li>
	  <li>
	    <label>Offer Tags</label>
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.tags.join(' ')}" />
	  </li>
	  <li>
	    <label style="vertical-align: top; padding-top: 7px;">Description</label>
	    <textarea rows="4" class="roinput" readonly="readonly">${offerItem.description}</textarea>
	  </li>
	  <li>
	    <label>Social Credits Required</label>
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.getCredits().forRequester()}" />
	  </li>
	  	  <li>
	    <label>Duration</label>
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.duration}" />
	  </li>
	  <li>
	    <label>Is Virtual?</label>
	    <input id="txtVirtual" class="roinput" type="text" readonly="readonly" />
	    <input type="checkbox" style="visibility: hidden; display: none" id="chkVir" ${offerItem.isVirtual ? 'checked':''} />
	  </li>
	   <li>
	    <label style="vertical-align: top; padding-top: 5px;">Valid Until</label>
	    #{if offerItem.endsAt}
	    <input class="roinput" type="text" readonly="readonly" value="${offerItem.endsAt.format('dd MMMM yyyy')}" />
	    #{/if}
        #{else}
        <input class="roinput" type="text" value="" />
       #{/else}
	  </li>	 	    
	  
	  
	  <script>
	  	
	  	
	  	if(document.getElementById("chkVir").checked == 0)
	  	{	  		
	  		document.getElementById("txtVirtual").value = "No";	  		
	  	}
	  	else 
 		{
		 	document.getElementById("txtVirtual").value = "Yes";
	  	}
	  	
	  	function disableClick(input){
  		 input.checked == true ? input.checked = false : input.checked = true;
  		}
      </script>  	    
	  
	  <input style="visibility:hidden; display:none" type="button" value="Home" onclick="window.location='@{Application.index()}'"/>
      </form>
      
    </div>
  </div>
</div>
