#{extends 'main.html' /}

<div id="content">
  <div id="main" style="padding-top:0px">
    #{doLayout /}
  </div>

  <div id="sidebar"  style="border:0px solid #aaa; padding-top:0px;">
    
    <div class="sidemenu">
      <h3>Menu</h3>
      Welcome, ${user.fullname}!<br />
      <a href="@{Secure.logout()}"><input type="submit" class="login_button" value="Logout" /></a>
      <ul>
        <li><a href="@{Offers.create(user)}">Create Offer</a></li>
        <li><a href="@{Requests.create(user)}">Create Request</a></li>
	<li><a href="@{Offers.search(user)}">Search Offers</a></li>
	<li><a href="@{Requests.search(user)}">Search Requests</a></li>
        <li><a href="@{Users.listOffers(user)}">My Offers</a></li>
        <li><a href="@{Users.listRequests(user)}">My Requests</a></li>
<!--        <li><a href="#">My Profile</a></li>-->
<!--        <li><a href="#">Update Account</a></li>-->
      </ul>
    </div>
    
    <div class="popular">
      <h3>Recent Comments</h3>
      <p>No recent comments</p>
    </div>
  </div>
</div>
