#{set title:'Home' /}

#{if isLoggedIn}
#{extends 'logged_user.html' /}
<div class="post" style="padding:top:0px">
  <h3 style="padding-top:0px;">Recent HandShakes</h3>

<table>
	#{list items:newHandshakes, as:'handshake'}
	  <tr>
	    <td>${handshake.offer.title}</td>
	    <td><a href="#">Details</a></td>
	  </tr>
	#{/list}
</table>

<!--  <div align="right" style="margin-right:30px;"><a href="#">See All &raquo;</a></div>-->
</div>

<div class="post">     
  <div class="user_tabs" style="margin-top:30px;">
    <ul>
      <li>
        <a href="#" no="1"> New Bees</a>
      </li>
      <li>
        <a href="#" class="active" no="2"> Busy Bees</a>
      </li>
      <li>
        <a href="#" no="3"> Working Bees</a>
      </li>
      <li>
        <a href="#" no="4"> Bumble Bees</a>
      </li>
    </ul>
  </div>
  
  <div class="index_tab_content" id="index_tab_content_1">
    <div class="active_users">
      <p>No one has achieved New Bee status.</p>
    </div>
  </div>
  
  <div class="index_tab_content" id="index_tab_content_2">
    <div class="active_users">
      <p>No one has achieved Busy Bee status.</p>
    </div>
  </div>
  
  <div class="index_tab_content" id="index_tab_content_3">
    <div class="active_users">
      <p>No one has achieved Working Bee status.</p>
    </div>
  </div>
      
  <div class="index_tab_content" id="index_tab_content_4">
    <div class="active_users">
      <p>No one has achieved Bumble Bee status.</p>
    </div>
  </div>
</div>
#{/if}



#{else}
#{extends 'unlogged_user.html' /}
<div class="post" style="padding:top:00px">
  
  <div class="user_tabs" style="margin-top:30px;">
    <ul>
      <li>
        <a href="#" class="active" no="1">A Hard Day's Cooking Night</a>
      </li>
      <li>
        <a href="#" no="2">Mowers of Lawn</a>
      </li>
      <li>
        <a href="#" no="3">Ain't No Spot When He Cleans</a>
      </li>
    </ul>
  </div>
  
      
  <div class="index_tab_content" id="index_tab_content_1">
    <div class="images">
      <div align="center"><img src="@{'/public/images/cooking1.jpg'}" /></div>
      <div align="center"><img src="@{'/public/images/cooking2.jpg'}" /></div>
    </div>   
    <div class="service">
      <b>Service:</b><br  />
      <p>Cooking, mostly chinese, some thai</p>
      <b>Tagline:</b><br  />
      <p>Two people, one eager to cook, one eager to learn, none eager to clean</p>
      <b>Quotes:</b><br  />
      <p>- My eye, my beautiful eye!<br  />
        - I have no idea what I am eating, but it tastes good enough.<br />
        - Which was the bowl with vomit in it, again?</p>
    </div>  
    <div style="clear:both;"></div>
  </div>
  
  <div class="index_tab_content nonvisible" id="index_tab_content_2">
    <div class="images">
      <div align="center"><img src="@{'/public/images/lawn1.jpg'}" /></div>
      <div align="center"><img src="@{'/public/images/lawn2.jpg'}" /></div>
    </div>
    
    <div class="service">
      <b>Service:</b><br  />
      <p>Gardening services, most importantly lawn mowing</p>
      <b>Tagline:</b><br  />
      <p>It was supposed to be an ordinary day in the garden</p>
      <b>Quotes:</b><br  />
      <p>- I drink your lemonade!<br  />
        - I didn't know a lawn mower could do that.<br />
        - Is everyone's fingers intact?</p>
    </div>   
    <div style="clear:both;"></div>
  </div>
  
  <div class="index_tab_content nonvisible" id="index_tab_content_3">
    <div class="images">
      <div align="center"><img src="@{'/public/images/garage1.jpg'}" /></div>
      <div align="center"><img src="@{'/public/images/garage2.jpg'}" /></div>
    </div>
    
    <div class="service">
      <b>Service:</b><br  />
      <p>Cleaning a garage</p>
      <b>Tagline:</b><br  />
      <p>In the garage, no one can hear you clean</p>
      <b>Quotes:</b><br  />
      <p>- Do you know what this is? - No, but I'll clean the hell out of it.<br  />
	- Is it safe to mix these stuff? - Probably not. (continues mixing cleaning materials)<br />
        - Did I miss a spot? - (Everyone) Nooooo!</p>
    </div>

    <div style="clear:both;"></div>
  </div>
</div>
<div class="post">
  <h4>Humble Bee of The Month</h4>
  <div class="interview">
    <div class="image">
      <div align="center"><img src="@{'/public/images/hbirdman.jpg'}" /></div>
      <div align="center">Harvey Birdman<br  /><a href="#nowhere">Working Bee</a></div>
    </div>
    
    <div class="baloon">
      <blockquote>
        <span class="bqstart">&ldquo;</span>
        I joined because back then I had too much spare time. Now I try to manage my schedule to create free time for services! 
        <span class="bqend">&rdquo;</span>
      </blockquote>
    </div>
    
    <div class="story">
      <b>Let It Bee:</b>Can you tell us about yourself?<br  />
      <b>Harvey Birdman:</b>Well, I am an ex-superhero, currently an attorney. My power comes from the rays of the sun. I also have the power of attorney [laughs]. <br  />
      <b>Let It Bee:</b>When did you participate in your first service?<br  />
      <b>Harvey Birdman:</b>It was eight months ago. When I first joined I had trouble with participating in services. Then ... <a href="#nowhere">read the rest of the interview</a> <br  />
    </div>
    
  </div>
  
</div>
#{/else}
