#{set title:'Home' /}

#{if isLoggedIn}
#{extends 'logged_user.html' /}
<div class="post" style="padding:top:0px">
  <h3 style="padding-top:0px;">Recent HandShakes</h3>
  #{if newHandshakes}
  <table>
    <th>Title</th>
    <th>Offerer</th>
    <th>Requester</th>
    <th>Honey Combs Made</th>
    <th></th>
    #{list items:newHandshakes, as:'handshake'}
    <tr>
      <td>${handshake.offer.title}</td>
      <td>${handshake.offer.user.fullname}</td>
      <td>${handshake.request.user.fullname}</td>
      <td>${handshake.offer.credit}</td>
      <td><a href="@{Handshakes.show(handshake.id)}">Details</a></td>
    </tr>
    #{/list}
  </table>
  
  
  #{/if}
  #{else}
  <p>
    There are no recent handshakes.
  </p>
    
  #{/else}

</div>

<div class="post" style=" border:0px solid green; width:98%">     
  <div class="user_tabs" style="margin-top:30px; border:opx solid red">
    <ul>
      <li>
        <a href="#" no="1"> New Bees</a>
      </li>
      <li>
        <a href="#" class="active" no="2"> Busy Bees</a>
      </li>
      <li>
        <a href="#" no="3"> Working Bees</a>
      </li>
      <li>
        <a href="#" no="4"> Bumble Bees</a>
      </li>
    </ul>
  </div>
  
  <div class="index_tab_content" id="index_tab_content_1" style="display:none">
    <div class="active_users">
      <p>No one has achieved New Bee status.</p>
    </div>
  </div>
  
  <div class="index_tab_content" id="index_tab_content_2" style="display:block">
    <div class="active_users">
      <p>No one has achieved Busy Bee status.</p>
    </div>
  </div>
  
  <div class="index_tab_content" id="index_tab_content_3" style="display:none">
    <div class="active_users">
      <p>No one has achieved Working Bee status.</p>
    </div>
  </div>
  
  <div class="index_tab_content" id="index_tab_content_4"  style="display:none">
    <div class="active_users">
      <p>No one has achieved Bumble Bee status.</p>
    </div>
  </div>
</div>
#{/if}

#{else}
#{extends 'unlogged_user.html' /}
<style>
.linearBg2 {
  /* fallback */
  background-color: #eee;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #eee, #fff);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #eee, #fff);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #eee, #fff);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #eee, #fff);
}
.linearBg2 a {
color:#2c76a5;
}
</style>
<div class="tag_cloud linearBg2" style="border:0px solid #eee; width:360px; display:inline-block;">
  <h4>Offers in Clauds</h4>
    <ul>
	  <li class="tag_2"><a href="#">Isa</a></li>
	  <li class="tag_3"><a href="#">Isa</a></li>
    </ul>
</div>
<div class="tag_cloud linearBg2" style="border:0px solid #eee; width:360px; display:inline-block;">
  <h4>Requests in Clauds</h4>
    <ul>
	  <li class="tag_2"><a href="#">Isa</a></li>
	  <li class="tag_3"><a href="#">Isa</a></li>
    </ul>
</div>

<div style="float:left;width:300px;">&nbsp;</div>
<div style="float:left;padding-top:20px;"><iframe width="420" height="315" src="http://www.youtube.com/embed/RdopMqrftXs" frameborder="0" allowfullscreen></iframe></div>
<br style="clear:both;"/>

<div class="post" style="padding:top:00px">
  
  <div class="user_tabs" style="margin-top:10px;">
    <ul>
      <li>
        <a href="#" class="active" no="1">A Hard Day's Cooking Night</a>
      </li>
      <li>
        <a href="#" no="2">Mowers of Lawn</a>
      </li>
      <li>
        <a href="#" no="3">Ain't No Spot When He Cleans</a>
      </li>
    </ul>
  </div>
  
  
  <div class="index_tab_content" id="index_tab_content_1">
    <div class="images">
      <div align="center"><img src="@{'/public/images/cooking1.jpg'}" /></div>
      <div align="center"><img src="@{'/public/images/cooking2.jpg'}" /></div>
    </div>   
    <div class="service">
      <b>Service:</b><br  />
      <p>Cooking, mostly chinese, some thai</p>
      <b>Tagline:</b><br  />
      <p>Two people, one eager to cook, one eager to learn, none eager to clean</p>
      <b>Quotes:</b><br  />
      <p>- My eye, my beautiful eye!<br  />
        - I have no idea what I am eating, but it tastes good enough.<br />
        - Which was the bowl with vomit in it, again?</p>
    </div>  
    <div style="clear:both;"></div>
  </div>
  
  <div class="index_tab_content nonvisible" id="index_tab_content_2">
    <div class="images">
      <div align="center"><img src="@{'/public/images/lawn1.jpg'}" /></div>
      <div align="center"><img src="@{'/public/images/lawn2.jpg'}" /></div>
    </div>
    
    <div class="service">
      <b>Service:</b><br  />
      <p>Gardening services, most importantly lawn mowing</p>
      <b>Tagline:</b><br  />
      <p>It was supposed to be an ordinary day in the garden</p>
      <b>Quotes:</b><br  />
      <p>- I drink your lemonade!<br  />
        - I didn't know a lawn mower could do that.<br />
        - Is everyone's fingers intact?</p>
    </div>   
    <div style="clear:both;"></div>
  </div>
  
  <div class="index_tab_content nonvisible" id="index_tab_content_3">
    <div class="images">
      <div align="center"><img src="@{'/public/images/garage1.jpg'}" /></div>
      <div align="center"><img src="@{'/public/images/garage2.jpg'}" /></div>
    </div>
    
    <div class="service">
      <b>Service:</b><br  />
      <p>Cleaning a garage</p>
      <b>Tagline:</b><br  />
      <p>In the garage, no one can hear you clean</p>
      <b>Quotes:</b><br  />
      <p>- Do you know what this is? - No, but I'll clean the hell out of it.<br  />
	- Is it safe to mix these stuff? - Probably not. (continues mixing cleaning materials)<br />
        - Did I miss a spot? - (Everyone) Nooooo!</p>
    </div>

    <div style="clear:both;"></div>
  </div>
</div>
<div class="post">
  <h4>Humble Bee of The Month</h4>
  <div class="interview">
    <div class="image">
      <div align="center"><img src="@{'/public/images/hbirdman.jpg'}" /></div>
      <div align="center">Harvey Birdman<br  /><a href="#nowhere">Working Bee</a></div>
    </div>
    
    <div class="baloon">
      <blockquote>
        <span class="bqstart">&ldquo;</span>
        I joined because back then I had too much spare time. Now I try to manage my schedule to create free time for services! 
        <span class="bqend">&rdquo;</span>
      </blockquote>
    </div>
    
    <div class="story">
      <b>Let It Bee:</b>Can you tell us about yourself?<br  />
      <b>Harvey Birdman:</b>Well, I am an ex-superhero, currently an attorney. My power comes from the rays of the sun. I also have the power of attorney [laughs]. <br  />
      <b>Let It Bee:</b>When did you participate in your first service?<br  />
      <b>Harvey Birdman:</b>It was eight months ago. When I first joined I had trouble with participating in services. Then ... <a href="#nowhere">read the rest of the interview</a> <br  />
    </div>
    
  </div>
  
</div>
#{/else}
