<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>#{get 'title' /} | Let It Bee</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/screen.css'}" />
    #{get 'moreStyles' /}
    <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/index.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
  </head>

  <body>

    <div id="header-wrap">
      <div id="header"> <a name="top"></a>
	<h1 id="logo-text"><a href="@{Application.index()}">Let It Bee</a></h1>
	<p id="slogan">Why Pay When You Can Share?</p>
	<div  id="nav">
	  <ul>
            <li #{if title == 'Home'}id="current"#{/if}><a href="@{Application.index()}">Home</a></li>
            <li #{if title == 'About'}id="current"#{/if}><a href="@{Application.about()}">About</a></li>
            <li #{if title == 'FAQ'}id="current"#{/if}><a href="@{Application.faq()}">FAQ</a></li>
            <li #{if title == 'Terms of Service'}id="current"#{/if}><a href="@{Application.termsOfService()}">Terms Of Service</a></li>
            <li #{if title == 'Contact'}id="current"#{/if}><a href="@{Application.contact()}">Contact</a></li>
	  </ul>
	</div>
      </div>
    </div>

    <div id="content-wrap" class="clear" >

      #{doLayout /}

    </div>
    
    <div id="footer-outer" class="clear">
      <div id="footer-wrap">
	#{if isLoggedIn}
	<div id="gallery" class="clear">
	  <h3>Recent Users </h3>
	</div>
	#{/if}
	<div class="col-a">
	  <h3>About</h3>
	  <p> This project is developed in SWE574 class @ Bogazici University Software Engineering Department.</p>
	  <p>For more information: <a href="@{Application.contact()}">visit contact page</a></p>
	</div>
	<div class="col-a">
	  <h3>Site Links</h3>
	  <div class="footer-list">
            <ul>
	      <li><a href="@{Application.index()}">Home</a></li>
	      <li><a href="@{Application.about()}">About</a></li>
	      <li><a href="@{Application.faq()}">FAQ</a></li>
	      <li><a href="@{Application.termsOfService()}">Terms Of Service</a></li>
	      <li><a href="@{Application.contact()}">Contact</a></li>
            </ul>
	  </div>
	  
	</div>
	<div class="col-a">
	  <h3>Statistics</h3>
	  <div class="footer-list">
            <ul>
	      <li>55 New Users This Month!</li>
	      <li>222 open offers! </li>
	      <li>124 open requests! </li>
	      <li>56  services in 1 week! </li>
	      <li>2023 users available! </li>
            </ul>
	  </div>
	  
	</div>
	<div class="col-b">
	  <h3>Tag Cloud</h3>
	  <div class=" tag_cloud">
            <ul>
	      <li class="tag_3"><a href="#">Reading</a></li>
	      <li class="tag_2"><a href="#">English</a></li>
	      <li class="tag_1"><a href="#">Driving</a></li>
	      <li class="tag_4"><a href="#">teaching</a></li>
	      <li class="tag_3"><a href="#">technology</a></li>
	      <li class="tag_1"><a href="#">computer</a></li>
	      <li class="tag_2"><a href="#">tennis</a></li>
	      <li class="tag_1"><a href="#">writing</a></li>
	      <li class="tag_5"><a href="#">lesson</a></li>
	      <li class="tag_2"><a href="#">swimming</a></li>
	      <li class="tag_3"><a href="#">riding</a></li>
	      
            </ul>
	  </div>
	  
	</div>

      </div>
    </div>

    <div id="footer-bottom">
      <p class="bottom-left"> &copy; 2011 <strong>SWE 574 Team 2 Members</strong>&nbsp; &nbsp; &nbsp;</p>
      <p class="bottom-right"><strong><a href="#top">Back to Top</a></strong> </p>
    </div>

  </body>
</html>
