#{extends 'main.html' /}

<div id="content">
  <div id="main" style="padding-top:0px">
    #{doLayout /}
  </div>
      <div id="sidebar"  style="border:0px solid #aaa; padding-top:0px;">
      <div class="about-me">
        <h3>Login</h3>
	#{if flash.error}
	<span class="error">Wrong Email or Password!</span>
	#{/if}
        <form action="@{Secure.authenticate()}" method="POST" class="login">
        	<ul class="login">
            	<li>
                  <label>Email</label>
                  <input type="text" name="username" value="${flash.username}" />
                </li>
                <li>
                  <label>Password</label>
                    <input type="password" name="password" />
                </li>
                <li>
                  <input type="submit" class="login_button" value="Login" />
                </li>
                <li>
                  <input type="button" class="login_button" value="Register" onclick="window.location='@{Users.register()}'" />
                </li>
            </ul>
        </form>
      </div>
      
      
      <div class="sidemenu">
        <h3>Popular Services For the Last 30 Days</h3>
          <div class=" tag_cloud" style="text-transform:none !important;">
            <ul>
	      #{list items:models.Tag.find().fetch(6), as:'poptag'}
	      ${poptag}
	      #{/list}
            </ul>
          </div>
      </div>

    </div>
</div>

