#{extends 'main.html' /}

<div id="content">
  <div id="main" style="padding-top:0px">
    #{doLayout /}
  </div>
      <div id="sidebar"  style="border:0px solid #aaa; padding-top:0px;">
      <div class="about-me">
        <h3>Login</h3>
	#{if flash.error}
	Wrong Email or Password!
	#{/if}
        <form action="@{Secure.authenticate()}" method="POST" class="login">
        	<ul class="login">
            	<li>
                  <label>Email</label>
                  <input type="text" name="username" value="${flash.username}" />
                </li>
                <li>
                  <label>Password</label>
                    <input type="password" name="password" />
                </li>
                <li>
                  <input type="submit" class="login_button" value="Login" />
                </li>
                <li>
                  <a href="@{Users.register()}"><input type="button" class="login_button" value="Register" /></a>
                </li>
            </ul>
        </form>
      </div>
      
      
      <div class="sidemenu">
        <h3>Popular Services In Last 30 Days</h3>
          <div class=" tag_cloud" style="text-transform:none !important;">
            <ul>
              <li class="tag_3"><a href="#">Reading</a></li>
              <li class="tag_2"><a href="#">English</a></li>
              <li class="tag_1"><a href="#">Driving</a></li>
              <li class="tag_4"><a href="#">teaching</a></li>
              <li class="tag_3"><a href="#">technology</a></li>
              <li class="tag_1"><a href="#">computer</a></li>
              <li class="tag_2"><a href="#">tennis</a></li>
              <li class="tag_1"><a href="#">writing</a></li>
              <li class="tag_5"><a href="#">lesson</a></li>
              <li class="tag_2"><a href="#">swimming</a></li>
              <li class="tag_3"><a href="#">riding</a></li>
              
            </ul>
          </div>
      </div>
      
      
      
      
      
      
      
      <!-- /sidebar -->
    </div>
</div>

