body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Member_Layout_files/u2_original.png');
}

.u0_container {
    position:absolute;
    left:100px;
    top:10px;
    width:100px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:100px;
    top:10px;
    width:100px;
    height:50px
}

.u2_original {
    background-image: url('../Member_Layout_files/u4_original.png');
}

.u2_container {
    position:absolute;
    left:812px;
    top:20px;
    width:30px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:812px;
    top:20px;
    width:30px;
    height:30px
}

.u4 {
    position:absolute;
    left:840px;
    top:28px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:945px;
    top:27px;
    width:15px;
    height:15px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:10px;
    top:30px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:10px;
    top:10px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

